{% extends './_base.html' %}

{% block content %}

    <div class="m-2">
        <h1><b>Publish books/magazines</b></h1>

    <form action="{% url 'publish_material' %}" method="POST">
        {% csrf_token %}
        <div class="select-pair">
            <label for="material_language">Choose book or magazine</label>
            <select name='material_entry'>
                {% for material in materials %}
                    <option value='{{ material.pk }}'>{{ material.title }}</option>
                {% endfor %}
            </select>
        </div>

    <button class="btn btn-success">ADD</button>
    </form>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    </div>

{% endblock %}